header a
{
   display: flex;
   left: 0;
   width: 100%;
}

#portraitPicture
{
    border-radius: 100%;
    height:250px;
    width: 250px;
    object-fit: cover;
    position: absolute;
    right: 0;
    margin-right: 300px;
    margin-top: 25px;
}

#main .photograph-header h2
{
    color: #D3573C;
    font-size: 45px;
    font-weight: unset;
    margin-top: 60px;
    position: absolute;
    margin-left: 45px;
}

#main .photograph-header h3 
{
    color: #901C1C;
    position: absolute;
    margin-left: 45px;
    margin-top: 130px;
    font-size: 27px;
    font-weight: unset;
}

#main .photograph-header .tagline 
{
    color : #525252;
    position :absolute;
    margin-top: 185px;
    margin-left: 45px;
    font-weight: unset;
}

#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button
{
    position: absolute;
    margin-left: 530px;
    margin-top: 115px;
}

.contact_button, .send_btn {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.send_btn
{
    margin:0;
}
.contact_button:hover {
    background-color: #DB8876;
    color:black;
}

#contact_modal
{
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right :0;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 669px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
    margin: 0;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    color:grey;
}

form div .message
{
    height:170px;
}

/*SEARCH BOX DETAILS*/

.sort-selector
{
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px ;
    font-size: 18px;
    position: relative;
}
.sort
{
    margin-left:100px;
    margin-right:0px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px ;
}
.searcher-box
{
    background-color: #901c1c;
    width: 10%;
    margin-left: 45px;
    color: white;       
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px ;
    margin-top: 5px;
    cursor: pointer;
    font-size: 18px;
}

.searcher-box option
{
    margin-bottom:20px;
}
/******* GALLERY *******/ 

.photograph-media
{
    margin: 45px 100px 20px 100px;
    display: grid;
    width: 95%;
    grid-template-columns: auto auto auto;
    row-gap: 50px;
}

#main .carte_media 
{
    margin: 0;
    width: 370px;
}

#main .carte_media video 
{
    width: 390px;
    height: 390px;
    object-fit: cover;
    border-radius: 5px;
}

#main .carte_media img
{
    width: 390px;
    height: 390px;
    object-fit: cover;
    border-radius: 5px;
}
.info_photo
{
    display: flex;
    margin: 0;
    align-items: center;
    width: 100%;
    margin-top: 5px;
}
.info_photo h2
{
    margin-left: 0;
    color: #911C1C;
}
.info_photo .title_nbr
{
    margin-left: 5px;
    margin-right: 10px;
    font-size: 20px;
}
.info_photo .heart
{
    margin-left: 0;
    margin-right: -5px;
    color: #911C1C;
}

/** indication du nombre de likes et prix **/
.informationsupp
{
    display: flex;
    align-items: center;
    background-color: #DB8876;
    width: 380px;
    height: 80px;
    position: fixed;
    z-index: 1;
    border-radius: 5px 5px 0 0;
    right: 0;
    bottom: 0;
    margin-right: 50px;
}
